body {
	/*color: #3c3b3c;*/
	background-color: #FFF;
  font-family: 'Nova Mono', monospace;
}
.container {
  margin-bottom: 15px;
  padding: 0;
  width: 90%;
}
.container .jumbotron {
  padding: 20px;
  border-radius: 0;
  background-color: #FFF;
}
.jumbotron h2 {
  text-align: center;
  margin: auto;
}
section div{
  background-color: #ffe3e8;
}
h3 {
  text-align: center;
  margin-top: -15px;
  padding: 10px 0 10px 0;
}
section p {
  margin: 10px;
}
#header-nav {
	background-color: #f7e4fe;
	border-radius: 0;
	border: 0;
}
.navbar-brand h1 { /* Gallery name */
  color: #3c3b3c;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  line-height: 0.75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #6A7071;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #3c3b3c;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -35px;
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  section {
    margin-bottom: 30px;
  }
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 50px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav {
    background-color: #fff;
    margin: 0;
    border: 0;
    padding: 0;

  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 10px;
  }
 
  .container .jumbotron {
    margin-bottom: 30px;
    padding: 0;
  }

    section {
    margin-bottom: 20px;
  }

}